
@{
    ViewBag.Title = "Editor";
    var ajaxOptions = new AjaxOptions { UpdateTargetId = "results" };
}

<div class="col-md-2">
    <p><h3>Editor Panel</h3></p>
    <ul class="list-group">
        @Ajax.ActionLink("Categories", "CategoriesList", "", ajaxOptions, new { @class = "list-group-item " })
        @Ajax.ActionLink("Recipes", "RecipesList", "", ajaxOptions, new { @class = "list-group-item " })
        @Ajax.ActionLink("Ingredients", "IngredientsList", "", ajaxOptions, new { @class = "list-group-item " })

    </ul>
</div>


<div class="col-md-7 col-md-offset-1" id="results">
    @{if (ViewBag.Id == 1)
        {
            @Html.Action("CategoriesList")
        }
        if (ViewBag.Id == 2 || ViewBag.Id == null)
        {
            @Html.Action("RecipesList")
        }
        if (ViewBag.Id == 3)
        {
            @Html.Action("IngredientsList")
        }
    }
</div>
@section Scripts
{
    <script src="~/Scripts/jquery-1.12.4.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
}