@model IEnumerable<RecipeBook.Common.Models.Recipe>

@{
    var ajaxOptions = new AjaxOptions { UpdateTargetId = "results" };
}
<p>
    @Html.ActionLink("Create New", "AddRecipe")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RecipeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CategoryId)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RecipeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryId)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditRecipe", new { id = item.RecipeId }) |
                @Ajax.ActionLink("Delete", "DeleteRecipe", new { id = item.RecipeId }, ajaxOptions)
            </td>
        </tr>
    }

</table>
