@model RecipeBook.Web.Models.DetailsViewModel
@{
    ViewBag.Title = "Details";
}

<div class="col-md-6">
    @Html.HiddenFor(x => x.RecipeId);
    <h2>@Model.RecipeName</h2>
    <h3>Description:</h3>
    <p>@Html.DisplayFor(model => model.recipeDetails.Description)</p>

    <div>
        <hr />
        <h3>Details:</h3>
        <p>
            <span class="glyphicon glyphicon-time"></span>
            Cooking time: @Html.DisplayFor(model => model.recipeDetails.CookingTime)
        </p>
        <p>
            <span class="glyphicon glyphicon-fire"></span>
            Cooking temperature : @Html.DisplayFor(model => model.recipeDetails.CookingTemperature)
        </p>


        <hr />
    </div>

    <div>
        <h3>Ingredients:</h3>
        <br />
        <table class="table table-condensed">
            <tr class="active">
                <th>Ingredient</th>
                <th>Weight</th>
            </tr>
            @foreach (var item in Model.recipeIngredients)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.IngredientName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Weight)
                    </td>
                </tr>
            }
        </table>
        <hr />
    </div>
    <h3>Steps:</h3>
    <pre>@Model.recipeDetails.Steps </pre>

    <a class="btn btn-primary" href="~/Home/ExportToWord/?_id=@Model.RecipeId">
        <span class="glyphicon glyphicon-download"></span> Download recipe
    </a>
    <hr />

    <div>
        <a href="/Home/Index">
            <span class="glyphicon glyphicon-chevron-left"></span> Back to list
        </a>
    </div>
</div>

<div class="col-md-6 col-md-offset-1 details-image-block">

    @if (Model.ImageUrl.IsEmpty())
    {
        <img src="~/Images/no_image_available.jpg" />
    }
    else
    {
        <img src="@Model.ImageUrl" />
    }

</div>

