@model RecipeBook.Web.Models.SearchViewModel

@using (Ajax.BeginForm("SearchByIngredient", new AjaxOptions { UpdateTargetId = "results" }))
{
    @Html.AntiForgeryToken()

    <div>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <p>
            Recipe name

            @Html.TextBoxFor(model => model.RecipeName, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.RecipeName, "", new { @class = "text-danger" })
            <hr />
        </p>
        <p>
            Category

            @Html.DropDownListFor(model => model.CategoryName, new SelectList(ViewBag.categories, "CategoryName", "CategoryName"), "Chose category", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.CategoryName, "", new { @class = "text-danger" })
            <hr />
        </p>
        <p>
            Ingredient

            @Html.DropDownListFor(model => model.IngredientName, new SelectList(ViewBag.ingredients, "IngredientName", "IngredientName"), "Chose ingredient", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.IngredientName, "", new { @class = "text-danger" })
            <hr />
        </p>
        <input type="submit" value="Search" class="btn btn-default" />
        <hr />
    </div>



}

@section Scripts
{
    <script src="~/Scripts/jquery-1.12.4.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
}

